<div class="pt-32pt pt-sm-64pt pb-32pt">
  <div class="container">
    <form class="col-md-5 p-0 mx-auto" (ngSubmit)="login()" [formGroup]="formulario">
      <div class="form-group">
        <label class="form-label" for="email">Email:</label>
        <input id="email" type="text" class="form-control" placeholder="Tu email" formControlName="correo">
        <!-- Validación de email -->
        <div *ngIf="formulario.controls['correo'].invalid && formulario.controls['correo'].touched" class="alert alert-danger">
          <div *ngIf="formulario.controls['correo'].errors">
            Digite un correo válido
          </div>
          <div *ngIf="formulario.controls['correo'].hasError('pattern')">
            El correo debe de ser alfabético
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="password">Password:</label>
        <input id="password" type="password" class="form-control" placeholder="Tu password" formControlName="password">
        <!-- Validación de password -->
        <div *ngIf="formulario.controls['password'].invalid && formulario.controls['password'].touched" class="alert alert-danger">
          <div *ngIf="formulario.controls['password'].errors">
            Digite un password válido y con al menos 8 caracteres
          </div>
          <div *ngIf="formulario.controls['password'].hasError('pattern')">
            El password debe de ser alfabético
          </div>
        </div>
        <p class="text-right"><a href="reset-password.html" class="small">Forgot your password?</a></p>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
<!-- <div class="page-separator justify-content-center m-0">
  <div class="page-separator__text">or sign-in with</div>
</div>
<div class="bg-body pt-32pt pb-32pt pb-md-64pt text-center">
  <div class="container d-flex justify-content-center" style="gap: 20px;">
    <a href="index.html" class="btn btn-secondary btn-block-xs">
      <i class="fa-brands fa-facebook mr-2"></i>
      Facebook</a>
    <a href="index.html" class="btn btn-secondary btn-block-xs">
      <i class="fa-brands fa-twitter mr-2"></i>
      Twitter</a>

  </div>
</div> -->
