<!-- Image and text -->
<nav class="navbar navbar-light bg-light mb-5">
  <a class="navbar-brand" href="#">
    <!-- <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
    Talentia
  </a>
  <ul class="nav justify-content-end">
    <li>
      <a class="btn btn-primary" href="/signup">¡Empezar!</a>
    </li>
  </ul>


</nav>
<section class="py-5">
  <!--Hey! This is the original version
of Simple CSS Waves-->

  <div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
      <!--Just the logo.. Don't mind this-->
      <div class="container py-4 py-xl-5">
        <div class="row">
          <div
            class="col-md-6 text-center text-md-left d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
            <div class="pt-5">
              <h1 class="display-5 font-weight-bold mb-4 text-white">Aprende, Crea y Transforma con <span
                  class="text-talentia">Talentia</span></h1>
              <p class=" my-4 text-white" style="font-size: 14pt;">Especialízate y alcance tus metas junto a nosotros,
                sin
                límites y sin importar tu punto de partida.</p>
              <a class="btn btn-outline-white btn-lg" role="button" href="/signup">¡Comienza ahora!</a>
            </div>
          </div>
          <div class="col-md-6">
            <div><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;"
                src="assets/img/illustrations/startup.svg"></div>
          </div>
        </div>
      </div>

    </div>

    <!--Waves Container-->
    <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
    <!--Waves end-->

  </div>
  <!--Header ends-->

  <!--Content starts-->

  <!--Content ends-->

</section>
<section class="py-5 bg-white">
  <div class="container py-5">
    <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
      <div class="col mb-5"><img class="rounded img-fluid" src="assets/img/illustrations/data-management.svg"></div>
      <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
        <div>
          <h5 class="mb-4 text-primary" style="font-size: 25pt; font-weight: bold;">
            <!-- algo relacionado con la busqueda de trabajo de manera sencilla -->
            Busca trabajo de manera sencilla

          </h5>
          <p class="text-muted mb-4" style="font-size: 14pt;">
            Encontrarás las mejores ofertas de trabajo, de acuerdo a tus habilidades y conocimientos.
            <!-- </p><a class="font-weight-bold text-primary mb-3" href="#">Browse tools&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-narrow-right fs-3">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                            </svg></a> -->
            <!-- <div class="d-flex">
                            <div class="bs-icon-sm bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-school">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                                    <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
                                </svg></div>
                            <div class="bs-icon-sm bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-school">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                                    <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
                                </svg></div>
                            <div class="bs-icon-sm bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-school">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                                    <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
                                </svg></div>
                        </div> -->
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 mx-auto flex-wrap" style="max-width: 800px;">
      <div class="col order-md-last mb-5"><img class="rounded img-fluid" src="assets/img/illustrations/javascript.svg">
      </div>
      <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
        <div class="ml-md-3">
          <h5 class="mb-4 fs-3" style="font-size: 25pt; font-weight: bold;">
            Cursos a tu medida
          </h5>
          <p class="text-muted mb-4" style="font-size: 14pt;">
            Podrás elegir el curso que más se adapte a tus necesidades, y así poder aprender de manera más eficiente.
          </p>
          <!-- <a class="font-weight-bold text-primary" href="#">Browse tools&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-narrow-right fs-3">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                            </svg></a> -->
          <div class="d-flex">
            <!-- colocar iconos de javascriot angular  -->
            <div class="">
              <img src="https://img.icons8.com/?size=512&id=71257&format=png" alt="Angular" width="50px" height="50px">
              <img src="https://img.icons8.com/?size=512&id=123603&format=png" alt="React" width="50px" height="50px">
              <img src="https://img.icons8.com/?size=512&id=13441&format=png" alt="Python" width="50px" height="50px">
              <img src="https://img.icons8.com/?size=512&id=13679&format=png" alt="Java" width="50px" height="50px">
              <img src="https://img.icons8.com/?size=512&id=13677&format=png" alt="Pothoshop" width="50px"
                height="50px">
              <img src="https://img.icons8.com/?size=512&id=4VVL78edhbW9&format=png" alt="XD" width="50px"
                height="50px">
              <img src="https://img.icons8.com/?size=512&id=e57Y1CnsOasB&format=png" alt="Adobe Premier" width="50px"
                height="50px">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
      <div class="col mb-5"><img class="rounded img-fluid" src="assets/img/illustrations/report.svg"></div>
      <div class="col d-md-flex align-items-md-end align-items-lg-center flex-column mb-5">
          <h5 class="mb-4 text-primary" style="font-size: 25pt;">
            Certifícate y crece en tu carrera.
          </h5>
          <p class="text-muted mb-4" style="font-size: 14pt;">
            Al finalizar el curso, podrás obtener un certificado que te acredite como un profesional en el área que
            elegiste.
          </p>

      </div>
    </div>
  </div>


</section>
