<!-- Background with gradient for a more modern look -->
<div class="page-section gradient-back" style="border-bottom: 4px solid #FFF;">
  <div class="container py-5">
    <div class="d-flex flex-column flex-md-row align-items-center text-center text-md-left">
      <div class="flex mb-32pt mb-md-0">
        <h1 class="text-white mb-2">¡Bienvenido!</h1>
      </div>
      <!-- Utilizando flexbox para el alineamiento de los botones -->
      <div class="d-flex align-items-center ml-md-4" style="gap: 15px;">
        <a href="/crear-oferta" class="btn btn-light"><i class="fa-solid fa-briefcase mr-2 sidebar-menu-icon--left"></i>Crear Oferta</a>
        <a href="/create-empresa" class="btn btn-light"><i class="fa-regular fa-building mr-2 sidebar-menu-icon--left"></i>Crear Empresa</a>
        <a href="/editar-ofertas" class="btn btn-light"><i class="fa-regular fa-pen-to-square mr-2 sidebar-menu-icon--left"></i>Editar Ofertas</a>
      </div>
    </div>
  </div>
</div>

<!-- Statistic cards with more white space and responsive adjustments -->
<div class="page-section py-5">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <div class="card shadow-lg">
                <div class="card-body text-center">
                  <img src="https://img.icons8.com/?size=256&id=eMJFlZiyvaqY&format=png" alt="" class="img-fluid mb-3" style="width: 80px;">
                  <h4 class="h2 mb-0">{{contadorUsuariosAplicaronOferta}}</h4>
                  <p class="text-muted">Usuarios aplicados a ofertas</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <div class="card shadow-lg">
                <div class="card-body text-center">
                    <img src="https://img.icons8.com/?size=256&id=NTa3xp2XGiRy&format=png" alt="" class="img-fluid mb-3" style="width: 80px;">
                    <h4 class="h2 mb-0">{{contadorOfertas}}</h4>
                    <p class="text-muted">Ofertas Activas</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <div class="card shadow-lg">
                <div class="card-body text-center">
                    <img src="https://img.icons8.com/?size=512&id=f3o1AGoVZ2Un&format=png" alt="" class="img-fluid mb-3" style="width: 80px;">
                    <h4 class="h2 mb-0">{{contadorOfertasInactivas}}</h4>
                    <p class="text-muted">Ofertas finalizadas</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
