<!-- page section title -->
<div class="container">

  <div class="page-separator py-5">
    <div class="page-separator__text">Ofertas</div>
  </div>

  <div class="container p-4"> <!-- Ampliado el padding -->
    <div *ngIf="!loading; else Cargando">
    <div class="table table-responsive">
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th>Nombre Oferta</th>
            <th>descripción</th>
            <th>Correo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ofertas of ofertasFiltradas">
            <td>{{ofertas.titulo}}</td>
            <td>{{ofertas.descripcion}}</td>
            <td>
              <div class="d-flex flex-column" style="gap: 10px;">
                <button class="btn btn-success" (click)="verPostulantes(ofertas.id)"><i class="fa-solid fa-eye mr-2"></i>Postulantes</button>
                <button class="btn btn-primary" (click)="editarOferta(ofertas.id)"><i class="fa-regular fa-pen-to-square mr-2"></i>Editar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
    <!-- Barra de búsqueda -->

    <!-- Contenido de ofertas o mensaje de carga -->



    <!-- Template de carga -->
    <ng-template #Cargando>
      <div class="d-flex justify-content-center align-items-center vh-50"> <!-- Reducida la altura a la mitad -->
        <div class="text-center"> <!-- Añadido para centrar el texto bajo el spinner -->
          <div class="spinner-border text-primary mb-3" role="status"></div> <!-- Añadido margen inferior -->
          <p>Cargando ofertas...</p> <!-- Cambiado a párrafo para ser más visible -->
        </div>
      </div>
    </ng-template>

    <!-- Paginación -->

  </div>

</div>
