

<div class="custom-card-group-row__col mb-3 animate__animated animate__fadeInRight">
  <div class="custom-card">
    <a [attr.href]="['/view-course/'+id]" class="custom-card-image">
      <img [src]="url_images+imagen_card" alt="course">
      <span class="custom-overlay">
        <span class="custom-overlay-action">
          <!-- <i class="material-icons">play_circle_outline</i>
          <span class="custom-card-title">Ver</span> -->
        </span>
      </span>
    </a>

    <div class="custom-card-content">
      <div class="custom-card-body">
        <div class="custom-card-details">
          <a [attr.href]="['/view-course/'+id]" class="custom-card-title-link">{{title}}</a>
        </div>
        <div class="custom-card-rating">
          <small>{{dificultad}}</small>
          <br>
          <a [attr.href]="['/view-course/'+id]" class="">Ver Curso</a>
        </div>
      </div>
    </div>
  </div>
</div>
