.custom-card {
  position: relative;
  border: 1px solid #e1e1e1; /* Borde ligero para la card */
  border-radius: 8px; /* Bordes redondeados */
  overflow: hidden; /* Escondemos cualquier elemento hijo que exceda los límites de la card */
  transition: transform 0.3s; /* Efecto suave para el hover */
}

.custom-card:hover {
  transform: translateY(-10px); /* Eleva la card un poco cuando se pasa el ratón por encima */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra para dar efecto de elevación */
}

.custom-card-image {
  display: block;
  width: 100%;
  height: 200px; /* Altura fija para las imágenes. Puede ajustar según sea necesario */
}

.custom-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que las imágenes cubran completamente el espacio sin deformarse */
}

.custom-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: calc(100% - 200px); /* Altura de la imagen */
  left: 0;
  background: rgba(68, 134, 226, 0.6); /* Overlay oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.custom-card:hover .custom-overlay {
  opacity: 1; /* Muestra el overlay al pasar el ratón por encima */
}

.custom-card-content {
  position: absolute;
  top: calc(100% - 0px);
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  padding: 15px;
  transition: top 0.3s;
}
.custom-card:hover .custom-card-content {
  top: calc(100% - 90px); /* Muestra el contenido al pasar el ratón por encima */
}




.custom-card-title-link {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.custom-card-title-link:hover {
  color: #007BFF; /* Cambia el color del título al pasar el ratón por encima */
}

.custom-card-rating small {
  color: #888;
}
