<div class="page-section fondo-header y border-bottom-white">
  <div class="container">

    <div class=" d-flex flex-column flex-md-row align-items-center text-center text-md-left">
      <img src="assets/images/illustration/student/128/white.svg" width="104" class="mr-md-32pt mb-32pt mb-md-0"
        alt="student">
      <div class="flex mb-32pt mb-md-0">
        <h1 class="text-white mb-0">¡Bienvenido!</h1>
        <h2 class="text-white mb-0">{{nombre_usuario}}</h2>
        <!-- <p class="lead text-white-50 d-flex align-items-center">Student <span class="ml-16pt d-flex align-items-center"><i class="material-icons icon-16pt mr-4pt">opacity</i> 2,300 IQ</span></p> -->
      </div>
      <!-- <a href=""
      class="btn btn-outline-white">Follow</a> -->
    </div>
  </div>
</div>
<div class="container">

  <div class="page-section">
    <div *ngIf="randomOfertas.length > 0">
      <div class="page-separator">
        <div class="page-separator__text"><i class="fa-solid fa-briefcase mr-2"></i>Ofertas de trabajo
        </div>
      </div>
      <div class="row">
        <div class="col">
          <owl-carousel-o [options]="customOptionsOfertas">
            <ng-template carouselSlide *ngFor="let ofertas of randomOfertas">
              <app-oferta-card nombre_oferta="{{ofertas.titulo}}" descripcion_oferta="{{ofertas.descripcion}}"
                [habilidades_oferta]="ofertas.habilidades" ubicacion="{{ofertas.ciudad}} / {{ofertas.pais}}"
                modalidad="{{ofertas.modalidad}}" id_oferta="{{ofertas.id}}" id_usuario="{{id_usuario}}">
              </app-oferta-card>
            </ng-template>
          </owl-carousel-o>
          <!-- ver mas ofertas -->
          <div class="d-flex justify-content-center">
            <a href="/ofertas" >Ver más ofertas</a>
          </div>
        </div>
      </div>
    </div>


    <div class="page-separator">
      <div class="page-separator__text"><i class="fa-solid fa-chart-simple mr-2"></i>Estadisticas</div>
    </div>

    <div class="row ">
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card bg-fondo">
          <div class="card-body text-center">
            <img src="https://img.icons8.com/?size=512&id=JCDjQ3zAwdDu&format=png" alt="" class="img-fluid"
              style="width: 80px;">
            <h5 class="text-center text-white">Certificados</h5>
            <h1 class="text-center text-white">{{contador_certificados}}</h1>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card bg-fondo">
          <div class="card-body text-center">
            <img src="https://img.icons8.com/?size=256&id=ChugQlss1ohB&format=png" alt="" class="img-fluid"
              style="width:80px;">
            <h5 class="text-center text-white">Cursos</h5>
            <h1 class="text-center text-white">{{contador_cursos}}</h1>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card bg-fondo">
          <div class="card-body text-center">
            <img src="https://img.icons8.com/?size=512&id=f3o1AGoVZ2Un&format=png" alt="" class="img-fluid"
              style="width: 80px;">
            <h5 class="text-center text-white">Examenes</h5>
            <h1 class="text-center text-white">{{contador_examenes}}</h1>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card bg-fondo">
          <div class="card-body text-center">
            <img src="https://img.icons8.com/?size=512&id=FUZiNN6aw2Rb&format=png" alt="" class="img-fluid"
              style="width: 80px;">
            <h5 class="text-center text-white">conexiones</h5>
            <h1 class="text-center text-white">{{contador_ofertas}}</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-lg-16pt">
      <div class="col-lg-6 mb-8pt mb-sm-0">
        <div class="page-separator">
          <div class="page-separator__text"><i class="fa-solid fa-certificate mr-2"></i>Mis certificados</div>
        </div>
        <div style="height: 250px; overflow:scroll;">
          <div *ngIf="examenes_aprobados.length == 0" class="text-center d-flex flex-column justify-content-center">
            <img src="assets/exploracion.png" alt="" class="img-fluid w-100">
          </div>
          <app-certificado-card nombre={{certificados.nombre}} imagen="{{certificados.imagen}}"
            id_examen="{{certificados.id}}" id_usuario="{{id_usuario}}"
            *ngFor="let certificados of examenes_aprobados; let i = index"></app-certificado-card>
        </div>
      </div>
      <div class="col-lg-6">

        <div class="page-separator">
          <!-- icon  from font awesome-->
          <div class="page-separator__text">
            <i class="fa-solid fa-book mr-2"></i>
            Mis Cursos
          </div>
        </div>

        <div class="position-relative carousel-card">
          <div class="js-mdk-carousel row d-block" id="carousel-courses1">

            <!-- Si está cargando, muestra "Cargando..." -->
            <div *ngIf="!loading && cursos.length != 0"
              class="d-flex justify-content-center align-items-center flex-column">
              <div class="spinner-border text-primary" role="status"></div>
              <span>Cargando...</span>
            </div>

            <!-- Si no está cargando y no hay cursos, muestra "Sin cursos" -->
            <div *ngIf="!loading && cursos.length === 0"
            class="text-center d-flex flex-column justify-content-center align-items-center">
            <a href="/courses" class="">Explorar cursos</a>
              <img src="assets/exploracion.png" alt="" class="img-fluid w-50">
            </div>

            <!-- Si no está cargando y hay cursos, muestra el carrusel -->
            <div *ngIf="loading && cursos.length > 0">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let curso of cursos">
                  <app-card-preview [id]="curso.id" [title]="curso.titulo" [imagen_card]="curso.imagen_card"
                    [dificultad]="curso.dificultad">
                  </app-card-preview>
                </ng-template>
              </owl-carousel-o>
            </div>

          </div>
        </div>




      </div>
    </div>

    <!-- <div class="page-separator">
          <div class="page-separator__text">Discussions</div>
      </div> -->



    <div class="page-separator">
      <div class="page-separator__text">
        <!-- icon  from font awesome-->
        <i class="fa fa-graduation-cap mr-2"></i>

        Mis examenes
      </div>

    </div>
    <!-- agregar una descripción sonre la seccion -->


    <div *ngIf="examenes.length == 0; "
      class="text-center d-flex flex-column justify-content-center align-items-center">
      <a class="link" href="/examenes">Explorar examenes</a>
      <img src="assets/exploracion.png" alt="" class="img-fluid w-50">
    </div>
    <div class="row card-group-row">
      <div
        class="card-group-row__col col-md-4 col-sm-6 d-flex justify-content-center align-items-center animate__animated animate__fadeInRight"
        *ngFor="let examen of examenes | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
        <app-card-home-examen nombre={{examen.examen.nombre}} descripcion={{examen.examen.descripcion}}
          imagen={{examen.examen.imagen}} id_examen={{examen.examen.id}}
          aprobado="{{examen.aprobado}}"></app-card-home-examen>

      </div>

    </div>
    <div class="d-flex justify-content-center">
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>



  </div>
</div>
