<div class="bg-primary mb-0" style="position: relative; background-image: radial-gradient(circle 975px at 2.6% 48.3%, rgba(0,8,120, 0.2) 0%, rgba(95,184,224,1) 99.7%); z-index: -10;">
  <div class="hero py-64pt text-center text-sm-left">
    <div class="p-5" style="position: relative; z-index: 10;">
      <h1 class="text-white">{{curso?.title}}</h1>
      <p class="text-white">{{curso?.description}}</p>
      <div class="d-flex flex-column flex-sm-row align-items-center justify-content-start">
        <div *ngIf="!this.verificiarProgreso; else elseBlock">
          <button *ngIf="buttonOculto" class="btn btn-white" (click)="crearProgresoCurso(this.dataUsuario.id, id_curso)">Tomar curso</button>
        </div>
        <ng-template #elseBlock>
          <a [attr.href]="'/take-lesson/'+id_curso" class="btn btn-white">Ir a curso</a>
        </ng-template>
        <!-- <button [attr.href]="'/take-lesson/'+id_curso" class="btn btn-white" (click)="crearProgresoCurso(this.dataUsuario.id, id_curso)">Tomar curso</button> -->
      </div>
    </div>
    
  </div>
</div>


<div class="navbar navbar-expand-sm  navbar-list p-0 m-0 align-items-center">
  <div class="container">
    <ul class="nav navbar-nav flex align-items-sm-center">
      <!-- <li class="nav-item navbar-list__item">
        <div class="media align-items-center">
          <span class="media-left mr-16pt">
            <img src="assets/images/people/50/guy-6.jpg" width="40" alt="avatar" class="rounded-circle">
          </span>
          <div class="media-body">
            <a class="card-title m-0" href="teacher-profile.html">Eddie Bryan</a>
            <p class="text-50 lh-1 mb-0">Instructor</p>
          </div>
        </div>
      </li> -->
      <!-- <li class="nav-item navbar-list__item">
        <i class="material-icons text-muted icon--left">schedule</i>
        2h 46m
      </li> -->
      <li class="nav-item navbar-list__item">
        <i class="material-icons text-muted icon--left" style="font-size: 24px;">assessment</i>
        <span style="font-size: 18px;">{{curso?.dificultad}}</span>
      </li>
      <!-- <li class="nav-item ml-sm-auto text-sm-center flex-column navbar-list__item">
        <div class="rating rating-24">
          <div class="rating__item"><i class="material-icons">star</i></div>
          <div class="rating__item"><i class="material-icons">star</i></div>
          <div class="rating__item"><i class="material-icons">star</i></div>
          <div class="rating__item"><i class="material-icons">star</i></div>
          <div class="rating__item"><i class="material-icons">star_border</i></div>
        </div>
        <p class="lh-1 mb-0"><small class="text-muted">20 ratings</small></p>
      </li> -->
    </ul>
  </div>
</div>

<div class="page-section border-bottom-2">
  <div class="container">
    <div class="page-separator">
      <div class="page-separator__text">Tabla de contenidos</div>
    </div>
    <div class="row mb-0">
      <div class="col-lg-7 mb-5">
        <div class="accordion js-accordion accordion--boxed" id="accordionExample">
          <div class="accordion__item" *ngFor="let sections of curso?.sections; let i = index" style="margin-bottom: 10px;">
            <div class="shadow" id="heading{{i}}" style="border: 1px solid #eee; border-radius: 8px;">
              <h2 class="mb-0">
                <button class="btn btn-block p-3 d-flex align-items-center text-left collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="false" [attr.aria-controls]="'collapse'+i">
                  <span class="flex align-items-center">{{sections.titulo}}</span>
                  <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                </button>
              </h2>
            </div>
            <div [attr.id]="'collapse'+i" class="collapse" [attr.aria-labelledby]="'heading'+i" data-parent="#accordionExample">
              <div class="card-body">
                <div class="accordion__menu-link" *ngFor="let lesson of sections.subsecciones">

                  <span class="icon-holder icon-holder--small icon-holder--light rounded-circle d-inline-flex icon--left">
                    <i class="fa-solid fa-circle-play"></i>
                  </span>
                  <a class="flex" (click)="false">{{lesson.titulo}}
                    <br>
                    <span class="text-muted">
                      {{lesson.descripcion}}
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="accordion js-accordion accordion--boxed list-group-flush"
        *ngFor="let sections of curso?.sections ; let i = index"
        >
          <div class="accordion__item">
            <button class="accordion__toggle collapsed" data-toggle="collapse" [attr.data-target]="'#'+i" aria-expanded="false" [attr.aria-controls]="i"
              data-parent="parent"
              >
              <span class="flex">{{sections.titulo}}</span>
              <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
            </button>
            <div class="accordion__menu collapse" [attr.id]="i"
            >
              <div class="accordion__menu-link"
              *ngFor="let lesson of sections.subsecciones"
              >
                <span class="icon-holder icon-holder--small icon-holder--dark rounded-circle d-inline-flex icon--left">
                  <i class="material-icons icon-16pt">play_circle_outline</i>
                </span>
                <a class="flex" href="">Watch Trailer</a>
                <span class="text-muted">1m 10s</span>
              </div>
            </div>
          </div>

        </div> -->

      </div>
      <div class="col-lg-5 justify-content-center">
        <div class="card">
          <div class="card-body py-16pt text-center">
            <h4 class="card-title">Mirar trailer</h4>
            <div class="video-container" style="max-width: 600px; margin: auto;">
              <iframe width="300" height="200" [src]="sanitizeUrl(curso?.trailer || '')" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <div class="page-section  border-bottom-2">

  <div class="container">
    <div class="row ">
      <div class="col-md-7">
        <div class="page-separator">
          <div class="page-separator__text">About this course</div>
        </div>
        <p class="text-70">This course will teach you the fundamentals o*f working with Angular 2. You *will learn
          everything you need to know to create complete applications including: components, services, directives,
          pipes, routing, HTTP, and even testing.</p>
        <p class="text-70 mb-0">This course will teach you the fundamentals o*f working with Angular 2. You *will
          learn
          everything you need to know to create complete applications including: components, services, directives,
          pipes, routing, HTTP, and even testing.</p>
      </div>
      <div class="col-md-5">
        <div class="page-separator">
          <div class="page-separator__text ">What you’ll learn</div>
        </div>
        <ul class="list-unstyled">
          <li class="d-flex align-items-center">
            <span class="material-icons text-50 mr-8pt">check</span>
            <span class="text-70">Fundamentals of working with Angular</span>
          </li>
          <li class="d-flex align-items-center">
            <span class="material-icons text-50 mr-8pt">check</span>
            <span class="text-70">Create complete Angular applications</span>
          </li>
          <li class="d-flex align-items-center">
            <span class="material-icons text-50 mr-8pt">check</span>
            <span class="text-70">Working with the Angular CLI</span>
          </li>
          <li class="d-flex align-items-center">
            <span class="material-icons text-50 mr-8pt">check</span>
            <span class="text-70">Understanding Dependency Injection</span>
          </li>
          <li class="d-flex align-items-center">
            <span class="material-icons text-50 mr-8pt">check</span>
            <span class="text-70">Testing with Angular</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div> -->




<div class="page-section">
  <!-- <h1 class="text-center">
    Sección de recomendaciones de curso
  </h1> -->
  <div class="container">
    <div *ngIf="randomOfertas.length > 0">

        <div class="page-separator">
          <div class="page-separator__text"><i class="fa-solid fa-briefcase mr-2"></i>Ofertas de trabajo
          </div>
        </div>

      <div class="row">
        <div class="col">
          <owl-carousel-o [options]="customOptionsOfertas">
            <ng-template carouselSlide *ngFor="let ofertas of randomOfertas">
              <app-oferta-card nombre_oferta="{{ofertas.titulo}}" descripcion_oferta="{{ofertas.descripcion}}"
                [habilidades_oferta]="ofertas.habilidades" ubicacion="{{ofertas.ciudad}} / {{ofertas.pais}}"
                modalidad="{{ofertas.modalidad}}" id_oferta="{{ofertas.id}}" id_usuario="{{id_usuario}}">
              </app-oferta-card>
            </ng-template>
          </owl-carousel-o>
          <!-- ver mas ofertas -->
          <div class="d-flex justify-content-center">
            <a href="/ofertas" >Ver más ofertas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
