<div class="card new-card" style="width: 18rem;">
  <a [attr.href]="'take-quiz/'+id_examen" class="avatar-4by3">
      <img [attr.src]="url_images+imagen" alt="Angular Routing In-Depth">
  </a>
  <div class="card-body">
      <a class="new-card-title" href="">{{nombre}}</a>
      <div class="new-desc">{{descripcion}}</div>
  </div>
  <div class="card-footer d-flex justify-content-center">
      <a [attr.href]="'take-quiz/'+id_examen" class="btn btn-light btn-sm gradient-back w-75">
          <i class="fa-solid fa-check mr-2"></i>
          Tomar examen
      </a>
  </div>
</div>
