<div class="card js-overlay card-sm overlay--primary-dodger-blue mb-16pt hover-elevate" data-toggle="popover" data-trigger="hover">

  <div class="card-body d-flex flex-column">

      <div class="d-flex align-items-center">

          <!-- Image Section -->
          <div class="image-section mr-12pt">
              <img [src]="url_images+imagen" width="40" height="40" alt="Certificados" class="rounded">
          </div>

          <!-- Title and Description -->
          <div class="info-section flex-grow-1 mr-12pt">
              <div class="card-title font-weight-bold">{{nombre}}</div>
              <p class="text-muted descripción mb-0">{{descripcion}}</p>
          </div>

          <!-- Download Button -->
          <div class="action-section">
              <button class="btn btn-sm gradient-back" (click)="descargarCertificado()">Descargar</button>
          </div>

      </div>

  </div>
</div>
