<div class="mdk-box bg-primary mdk-box--bg-gradient-primary2 js-mdk-box mb-0"
     data-effects="blend-background"
     style="background-image: radial-gradient( circle 975px at 2.6% 48.3%,  rgba(0,8,120, 0.2) 0%, rgba(95,184,224,1) 99.7% );"
     >
    <div class="mdk-box__content container">
        <div class="hero py-64pt text-center text-sm-left">
            <div class="">
                <h1 class="text-white">{{curso.titulo}}</h1>
                <p class="lead text-white-50 measure-hero-lead mb-24pt">{{curso.descripcion}}</p>
                <a [attr.href]="this.urlCurso" *ngIf="this.resumenCurso"
                   class="btn btn-white">Reanudar el curso</a>
            </div>
        </div>
        <div class="navbar navbar-expand-sm  navbar-list p-0 m-0 align-items-center">
            <div class="container">
                <ul class="nav navbar-nav flex align-items-sm-center">
                    <!-- <li class="nav-item navbar-list__item">
                        <div class="media align-items-center">
                            <span class="media-left mr-16pt">
                                <img src="public/images/people/50/guy-6.jpg"
                                     width="40"
                                     alt="avatar"
                                     class="rounded-circle">
                            </span>
                            <div class="media-body">
                                <a class="card-title m-0"
                                   href="teacher-profile.html">Eddie Bryan</a>
                                <p class="text-50 lh-1 mb-0">Instructor</p>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item navbar-list__item">
                        <i class="material-icons text-muted icon--left">schedule</i>
                        2h 46m
                    </li> -->
                    <li class="nav-item navbar-list__item">
                        <i class="material-icons text-muted icon--left">assessment</i>
                        {{curso.dificultad}}
                    </li>
                    <!-- <li class="nav-item ml-sm-auto text-sm-center flex-column navbar-list__item">
                        <div class="rating rating-24">
                            <div class="rating__item"><i class="material-icons">star</i></div>
                            <div class="rating__item"><i class="material-icons">star</i></div>
                            <div class="rating__item"><i class="material-icons">star</i></div>
                            <div class="rating__item"><i class="material-icons">star</i></div>
                            <div class="rating__item"><i class="material-icons">star_border</i></div>
                        </div>
                        <p class="lh-1 mb-0"><small class="text-muted">20 ratings</small></p>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-lg-7">
          <div class="border-left-2 page-section pl-32pt" *ngFor="let modulos of curso.secciones; let i = index">
              <div class="d-flex align-items-center page-num-container">
                  <div class="page-num">{{ i + 1 }}</div>
                  <h4>{{modulos.titulo}}</h4>
              </div>
              <p class="text-70 mb-24pt">{{modulos.descripcion}}</p>

              <div class="card mb-32pt mb-lg-64pt">
                <div class="accordion js-accordion accordion--boxed" id="accordionExample">
                  <div class="accordion__item" >
                    <div class=" shadow" id="heading{{i}}">
                      <h2 class="mb-0" [id]="'toc-content-'+(i+1)">
                        <button class="btn btn-block p-3 d-flex align-items-center text-left collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="false" [attr.aria-controls]="'collapse'+i">
                          <span class="flex align-items-center">{{modulos.titulo}}</span>
                          <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                        </button>
                      </h2>
                    </div>
                    <div [attr.id]="'collapse'+i" class="collapse" [attr.aria-labelledby]="'heading'+i" data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="accordion__menu-link" *ngFor="let lesson of modulos.subsecciones">
                          <span class="icon-holder icon-holder--small icon-holder--light rounded-circle d-inline-flex icon--left">
                            <i class="material-icons icon-16pt">
                              play_circle_outline
                            </i>
                          </span>
                          <a class="flex"   [attr.href]="'lesson-preview/lesson/'+curso.id+'/'+modulos.id+'/'+lesson.id_subseccion">{{lesson.titulo}}</a>
                          <!-- <span class="text-muted">1m 10s</span> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <!-- <ul class="accordion accordion--boxed js-accordion mb-0"
                      id="toc-{{i+1}}">
                      <li class="accordion__item open">
                          <a class="accordion__toggle"
                             data-toggle="collapse"
                             [attr.data-parent]="'#toc-i'+1"
                             href="#toc-content-{{i+1}}">
                              <span class="flex">{{modulos.titulo}}</span>
                              <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                          </a>
                          <div class="accordion__menu">
                              <ul class="list-unstyled collapse show" *ngFor="let lecciones of modulos.subsecciones; let j = index"
                                  id="toc-content-{{i+1}}">
                                  <li class="accordion__menu-link">
                                      <span class="material-icons icon-16pt icon--left text-body">check_circle</span>
                                      <a class="flex"
                                         href="student-take-lesson.html">{{lecciones.titulo}}</a>
                                  </li>
                              </ul>
                          </div>
                      </li>
                  </ul> -->
              </div>
          </div>
      </div>
      <div class="col-lg-5 page-nav">
          <div class="page-section">
              <div class="page-nav__content">
                  <div class="page-separator">
                      <div class="page-separator__text">Tabla de contenidos</div>
                  </div>
              </div>
              <nav class="nav page-nav__menu">
                <a *ngFor="let modulos of curso.secciones; let i = index"
                   class="nav-link"
                   [class.active]="selectedSection == i"
                   (click)="onSectionClick(i)">{{modulos.titulo}}</a>
              </nav>
          </div>
      </div>
  </div>
</div>

