<div class="container page-section">
  <div class="d-flex justify-content-end">
    <a href="/create-examen" class="btn btn-outline-primary"><i class="fa-solid fa-plus mr-2 sidebar-menu-icon--left"></i> Crear examen</a>
  </div>
  <br>
  <div class="d-flex justify-content-start">
    <input [(ngModel)]="filtroNombre" placeholder="Buscar por nombre..." (keyup)="filtrarExamen()"
      class="form-control w-25">
  </div>

  <div class="row card-group-row d-flex">
    <div class="d-flex align-items-center justify-content-center container vh-100" *ngIf="examenesFiltrados.length==0; else hayExamenes">
      <h2 class="text-center">No hay examenes disponibles...</h2>
    </div>
    <ng-template #hayExamenes>
    <div *ngFor="let examen of examenesFiltrados; ">
        <app-card-examen-edit nombre={{examen.nombre}} descripcion={{examen.descripcion}}
        imagen={{examen.imagen}} id={{examen.id}}></app-card-examen-edit>
      </div>
    </ng-template>
  </div>

<ul class="pagination">
  <li class="page-item" [class.disabled]="currentPage === 1">
    <button class="page-link"  (click)="previousPage()" aria-label="Previous">
      <span aria-hidden="true" class="material-icons">chevron_left</span>
      <span>Prev</span>
    </button>
  </li>

  <li class="pagination-next" [class.disabled]="currentPage === totalPages">
    <button class="page-link" (click)="nextPage()" aria-label="Next">
      <span>Next</span>
      <span aria-hidden="true" class="material-icons">chevron_right</span>
    </button>
  </li>
</ul>



</div>
