<div class="container page-section">
  <!-- Page Title -->
  <div class="mb-4">
      <div class="page-separator">
          <h4 class="page-separator__text">Examenes</h4>
      </div>
  </div>

  <!-- Search and Create Buttons -->
  <div class="d-flex justify-content-between mb-5">
      <div class="d-flex align-items-center">
          <label class="form-label mr-2" for="search">Buscar:</label>
          <input [(ngModel)]="filtroNombre" placeholder="Buscar por nombre..." (keyup)="filtrarExamen()"
                 class="form-control" id="search">
      </div>
      <a href="/create-examen" class="btn btn-outline-primary">
          <i class="fa-solid fa-plus mr-2 sidebar-menu-icon--left"></i> Crear examen
      </a>
  </div>

  <!-- Display Exam Cards -->
  <div class="row card-group-row" style="gap: 10px;" *ngIf="loading; else noCargados">
      <div class="d-flex align-items-center justify-content-center container vh-100" *ngIf="examenes.length === 0; else hayExamenes">
          <h5 class="text-center text-muted">No hay examenes disponibles...</h5>
      </div>
      <ng-template #hayExamenes>
          <div *ngFor="let examen of examenes | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
              <app-card-examen-edit [nombre]="examen.nombre" [descripcion]="examen.descripcion"
                                     [imagen]="examen.imagen" [id]="examen.id"></app-card-examen-edit>
          </div>
      </ng-template>
  </div>
  <ng-template #noCargados>
      <div class="d-flex justify-content-center align-items-center vh-100">
          <div class="spinner-border text-primary" role="status"></div>
          <span>Cargando...</span>
      </div>
  </ng-template>

  <!-- Pagination -->
  <div class="d-flex justify-content-center mt-5">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</div>
