<div class="page-section">
  <div class="container">
    <div class="d-flex align-items-center mb-4">
      <input type="text" [(ngModel)]="filterText" placeholder="Filtro" class="form-control mr-3" style="width: 250px;" (keyup)="generateAutocompleteSuggestions()">
      <select [(ngModel)]="selectedCategory" class="form-control" style="max-width: 250px;">
        <option value="">Todas las categorias</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.nombre">{{ categoria.nombre }}</option>
      </select>
    </div>
    <div *ngFor="let categoria of categorias; let i = index;">
        <div *ngIf="filteredCursosByCategoria(categoria.nombre).length > 0" class="page-separator">
          <div class="page-separator__text">{{ categoria.nombre }}</div>
        </div>
        <div *ngIf="!loadingAllCursos">
          <div class="d-flex justify-content-center align-items-center flex-column" style="height: 100vh;">
            <div class="spinner-border text-primary" role="status">
            </div>
            <span class="visually-hidden">Cargando...</span>
          </div>
        </div>
        <div class="row card-group-row">
          <ng-container *ngIf="filteredCursosByCategoria(categoria.nombre).length > 0 ;">
            <div class="col-6 col-md-4 col-xl-3" *ngFor="let curso of filteredCursosByCategoria(categoria.nombre) | paginate: { itemsPerPage: pageSize, currentPage: pageData[categoria.nombre], id: 'categoria-' + categoria.nombre }">
              <!-- Contenido de la tarjeta de curso -->
              <div class="card loading-skeleton" *ngIf="loadingCursos && loadingAllCursos; else cargado">
                <!-- Carga de skeleton -->
                <div class="skeleton-item"></div>
                <div class="skeleton-item"></div>
                <div class="skeleton-item"></div>
              </div>
              <ng-template #cargado >
                <app-card-preview [id]="curso.id" [title]="curso.titulo" [imagen_card]="curso.imagen_card" [dificultad]="curso.dificultad"></app-card-preview>
              </ng-template>

            </div>
          </ng-container>


        </div>
        <div class="d-flex justify-content-center" *ngIf="filteredCursosByCategoria(categoria.nombre).length > 0">
          <pagination-controls [id]="'categoria-' + categoria.nombre" (pageChange)="onPageChange($event, categoria.nombre)" [maxSize]="5"></pagination-controls>
        </div>

      </div>
    </div>
    <div class="container d-flex justify-content-center align-items-center flex-column" *ngIf="filteredCursos.length == 0">

      <img src="../../../assets/images/metaverso-amico.png" alt="" style="max-width: 200px;">
      <h2 class="text-center">Próximamente más cursos</h2>
    </div>
  <!-- <ng-template > -->
  <!-- </ng-template> -->
</div>
