
<div class="container page-section">
  <div class="page-separator">
    <div class="page-separator__text">Examenes</div>
  </div>


  <div class="d-flex justify-content-start">
    <div class="form-group">
      <label for="filtroNombre">Filtrar por nombre:</label>
      <input [(ngModel)]="filtroNombre" placeholder="Buscar por nombre..." (keyup)="filtrarExamen()"
      class="form-control" id="filtroNombre">
    </div>
  </div>

  <div class="row card-group-row d-flex" style="gap: 10px;">
    <div class="d-flex align-items-center justify-content-center container vh-100" *ngIf="examenesFiltrados.length==0; else hayExamenes">
        <h2 class="text-center">No hay examenes disponibles...</h2>
    </div>
    <ng-template #hayExamenes>
    <div *ngFor="let examen of examenesFiltrados | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
      <app-card-examen-preview nombre={{examen.nombre}} descripcion={{examen.descripcion}} imagen={{examen.imagen}} id_examen={{examen.id}}></app-card-examen-preview>
    </div>
    </ng-template>
  </div>
  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</div>
