<div class="page-section border-bottom-2">
  <div class="container">
    <div class="row align-items-start">
      <div class="col-md-8">
        <div class="page-separator">
          <div class="page-separator__text">Datos del examen</div>
        </div>
        <div class="card card-body">
          <div class="form-group">
            <label class="form-label">Nombre del examen </label>
            <input class="form-control" placeholder="Nombre del examen">
            <!-- <small class="form-text text-muted">Shortly describe the question.</small> -->
          </div>
          <div class="form-group">
            <label class="form-label">Descripcion del examen  </label>
            <textarea class="form-control" placeholder="Descripción del examen"></textarea>
            <!-- <small class="form-text text-muted">Shortly describe the question.</small> -->
          </div>
        </div>
        <div class="page-separator">
          <div class="page-separator__text">Preguntas</div>
        </div>
        <ul class="list-group mb-40pt">
          <li class="list-group-item d-flex animate__animated animate__slideInLeft" *ngFor="let preguntas of preguntas; let index = index">

            <div class="flex d-flex flex-column " >
              <div class="card-title mb-4pt">Pregunta - {{index+1}}</div>
              <div class="card-subtitle text-70 paragraph-max mb-16pt">
                {{preguntas.pregunta}}

              </div>
              <div>
                <!-- <a href="" class="chip chip-light d-inline-flex align-items-center"><i
                    class="material-icons icon-16pt icon--left">keyboard_arrow_down</i> Answers</a>
                <div class="chip chip-outline-secondary">Single Answer</div> -->
              </div>
            </div>
            <!-- <span class="text-muted mx-12pt">800 pt</span> -->

            <div class="dropdown">
              <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted"><i
                  class="material-icons">more_horiz</i></a>
              <div class="dropdown-menu dropdown-menu-right">
                <!-- <button href="javascript:void(0)" class="dropdown-item">Edit Question</button> -->
                <div class="dropdown-divider"></div>
                <button class="dropdown-item text-danger" (click)="eliminarPreguntas(index)">Eliminar pregunta</button>
              </div>
            </div>
          </li>
        </ul>

        <div class="page-separator">
          <div class="page-separator__text">Nueva pregunta</div>
        </div>

        <div class="d-flex justify-content-end mb-2">
          <button [ngClass]="'btn btn-primary'"
                  style="border-radius: 20px;"
                  (click)="toggleAddPregunta()">
              {{ viewAddQuestion ? 'Añadir pregunta' : 'Cancelar' }}
          </button>
      </div>

        <div class="card card-body animate__animated animate__backInUp" *ngIf="!viewAddQuestion" >
          <div class="form-group">
            <label class="form-label">Pregunta </label>
            <textarea class="form-control" rows="3" placeholder="Pregunta" [(ngModel)]="pregunta"></textarea>
            <small class="form-text text-muted">Shortly describe the question.</small>
          </div>
          <div class="card card-body">

            <div class="form-group">
              <label class="form-label">Opciones de la pregunta</label>
              <input type="text" class="form-control" placeholder="Opciones de la pregunta" [(ngModel)]="opcion">
            </div>
            <div class="form-group">
              <label class="form-label" for="select01">Respuesta</label>
              <select id="select01" data-toggle="select" class="form-control" [(ngModel)]="opcion_correcta">
                <!-- respuesta -->
                <option value='true'>Si</option>
                <option value='false' selected>No</option>
              </select>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-success" (click)="addOption()">Añadir opción</button>
            </div>
          </div>
          <div *ngFor="let opciones of opciones; let index = index">
            <div class="card card-body">
              <div class="d-flex justify-content-center align-items-center">
                <div class="">
                  {{ opciones.opcion}} - {{ opciones.opcion_correcta ? '✅' : '❌' }}
                </div>
                <div class="flex-grow-1"></div>
                <button class="btn btn-danger" (click)="eliminarOpciones(index)">Eliminar</button>
              </div>
            </div>
            <!-- <h2>{{opciones.opcion_correcta}}</h2> -->
          </div>
          <!-- <div class="form-group">
            <label class="form-label">Completion Points</label>
            <input type="text" class="form-control" value="1000">
          </div> -->
          <div class="d-flex justify-content-end">
            <button class="btn btn-outline-secondary" (click)="AddPregunta()">Añadir pregunta</button>
          </div>
        </div>

      </div>
      <div class="col-md-4">

        <div class="card">
          <div class="card-header text-center">
            <a href="#" class="btn btn-accent">Guardar Quiz</a>
          </div>
        </div>

        <div class="page-separator">
          <div class="page-separator__text">Courses</div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="form-group mb-0">
              <label class="form-label">Add to course</label>
              <select name="course" id="course" data-toggle="select" data-tags="false" data-multiple="true"
                data-minimum-results-for-search="0" class="form-control" data-placeholder="Select course ...">
                <option data-avatar-src="public/images/paths/angular_40x40@2x.png" selected="">Angular Fundamentals
                </option>
                <option data-avatar-src="public/images/paths/swift_40x40@2x.png">Build an iOS Application in Swift
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="page-separator">
          <div class="page-separator__text">Imagen</div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="form-group mb-0">
              <label class="form-label">Imagen de para el examen <small>(40x40)</small></label>
              <input type="file" class="form-control" placeholder="Imagen" (change)="onImagenSelected($event)" accept="image/*">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
